html {
  background-color: dimgrey;
}

#food-container {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  padding: 5px;
  border: 1px;
  align-items: center;
  border: 1px maroon solid;
}

.div {
  display: flex;
  align-items: flex-end;;
 
